.avatar {
  width: 50px; 
  border-radius: 50%;
  margin-right: 10px;
}

.contributorList {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.contributorRow {
  display: flex;
  float: left;
  min-width: 51%;
  flex-direction: row; 
  margin-bottom: 15px;
}

.contributorLogin {
  margin-top: 13px;
}
