.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.getStarted {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.getStarted svg{
  margin-right: 10px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.versionInfo {
  font-size: 0.8em;
  font-style: italic;
  padding: 20px;
}