.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 80%;
  margin: auto;
  text-align: center;
}
.featureTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureImage {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}