.examples {
	background-color: rgba(201, 152, 70, 0.3);
	border: 3px dashed #c99846;
	box-sizing: border-box;
	border-radius: 10px;
	max-width: 80%;
	margin: 3em auto;
	display: flex;
	flex-wrap: wrap;
}
.examplesTitle {
	width: 100%;
	text-align: center;
	margin-top: 0.5em;
}
.exampleContent {
	width: 48%;
	background-color: #ffffff;
	margin: 1%;
	padding: 20px 0 0 20px;
}
.exampleCode {
	max-height: 420px;
	overflow-y: auto;
}

.exampleArrow {
	text-align: center;
	margin: -50px 0;
	width: 100%;
	z-index: 1;
}

.examplesEditor {
  font-family: 'Consolas', 'Courier New', monospace !important;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
	.exampleContent {
		width: 100%;
	}
}
