.section {
  margin: auto;
  width: 100%;
  padding: 3%;
}
.section h1 {
  text-align: center;
}

.h2big {
  font-size: 48px;
  line-height: 1.3em;
  text-align: center;
  font-weight: 300;
  margin: 1em auto;
}

.textRight {
  text-align: right !important;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 3em auto;
  display: flex;
  flex-wrap: nowrap;
}

html[data-theme=dark]
.container {
  color: #37362b;
}

.container_grey{
  background-color: #f1f1f1;
}

html[data-theme=dark]
.container_grey{
  background-color: #d6d5c9;
}

.container .animation {
  flex: 1;
}

.container .animation img {
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: auto;
  display: block;
  width: 100%;
  cursor: pointer;
}

.container .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

/* tablet */
@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    margin: 2em auto;
  }

  .container .animation {
    background-color: #fff;
  }
}